.card-box {
    display: table;
    text-align: center;
    
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.card {
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    /* border: black solid 1px; */
}

.card img {
    width: 300px;
    height: 300px;
}

.card img:hover {
    cursor: pointer;
}


.card:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.8);
}

.info {
    display: flex;
    width: 300px;
    height: 300px;
    padding: 2px 16px;
}

.info-detail {
    text-align: left;
    word-break:break-all;
}

.card .info-ul {
    display: table;
    padding: 0;
    list-style: none;

}

.card .info-li {
    display: inline-block;
    padding-right: 0.5rem;
}

.card .link-ul {
    display: table;
    padding: 0;
    list-style: none;
}

.card .link-li {
    display: inline-block;
    padding-right: 1rem;

}