@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:400);
@import url(https://fonts.googleapis.com/css?family=Gothic+A1:200);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100);

/* 기본 설정: 페이지 전체 */

* {
    box-sizing: border-box;
    /* 오페라(Opera) */

    -moz-box-sizing: border-box;
    /* 파이어폭스(Firefox)*/

    -webkit-box-sizing: border-box;
    /* 웹킷(Webkit) & 크롬(Chrome) */
}


html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;

}

body {
    background-color: white;
    margin: 0;
    min-height: 100%;
    width: 100%;
    font-family: '맑은 고딕',
        'Apple SD Gothic Neo',
        -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue,
        sans-serif;

}




/* header */

/* navbar */
.navbar {
    /* background */
    background-color: black;
    opacity: 0.5;

    /* font 색 */
    color: white;

    /* 가장 화면 앞쪽 */
    z-index: 10;
}

.navbar ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}


.nav-btn {
    font-weight: bold;
    padding: 15px;
    font-size: 1rem;
}


@media (max-width: 767px) {

    /* 767px 이하의 작은 화면 */
    .navbar {
        position: fixed;
        right: -7.0rem;
        transition: 0.3s;
        border-radius: 15px 0 0 15px;
    }

    .navbar ul {
        margin: 10px 10px 10px 30px;
        padding: 0;
        list-style: none;
    }

    .navbar:hover {
        right: 0;
    }


}


@media (min-width: 768px) {

    /* 768px 이상 큰 화면 */
    .navbar {

        /* 위치 고정 */
        position: fixed;
        top: -3rem;
        right: 1rem;
        transition: 0.35s;

        border-radius: 15px;
        display: block !important;
    }

    .navbar:hover {
        top: 0.2rem;
    }

    .navbar ul {
        /* 가로 정렬 */
        display: flex;
        list-style: none;
    }

    .navbar li {
        margin: 0 1.5rem;
    }

    .nav-btn:hover {
        color: darkcyan;
        cursor: pointer;
    }

}






/* content */
content .container {
    background-color: ivory;
}


/* section home */
.section-home {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.section-home .bg {
    /* The image used */
    background-image: url("../images/home-bg.png");

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    width: 100%;
    height: 100vh;

}

.section-home .text {
    font-family: Noto Sans KR, sans-serif;

    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
    white-space: pre;

    line-height: 2;

    font-size: max(3vw, 0.8rem);
    letter-spacing: .1rem;


}




/* section about */
.section-about {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 100%;
    padding: 50px 0;
}

.section-about .title {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(2.5vw, 25px);
    text-align: center;
    font-weight: bold;
    padding-top: 35px;

}

.section-about .title-text {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(2.0vw, 1.2rem);
    text-align: center;
    padding: 1rem;

    color: white;
    background-color: cornflowerblue;
    border-radius: 15px;
    margin: 3rem;
}

.section-about .text {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(1.3vw, 1rem);
    margin: 3rem;

}

@media (min-width: 768px) {

    /* 768px 이상 큰 화면 */
    .section-about {
        padding: 100px 0;
    }

    .section-about .title {
        text-align: left;
        padding: 0 5vw 0 5rem;

    }

    .section-about .title-text {
        text-align: left;
    }
}









/* section skills */
.section-skills {
    width: 100%;
    background-color: whitesmoke;
    padding: 50px 0;

    /* temp */
    height: 600px;

}

.section-skills .title {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(2.5vw, 25px);
    text-align: center;
    font-weight: bold;
}









/* section projects */
.section-projects {
    width: 100%;
    padding: 50px 0;
}

.section-projects .title {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(2.5vw, 25px);
    text-align: center;
    font-weight: bold;
}


.section-projects .icon-img {
    width: 40px;
    height: 40px;
}






/* section contact */
.section-contact {
    width: 100%;
    background-color: whitesmoke;

    padding: 50px 0;

}

.section-contact .title {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: max(2.5vw, 25px);
    text-align: center;
    font-weight: bold;

}

.section-contact .icon-img {
    width: 55px;
    height: 55px;
}

.section-contact ul {
    list-style: none;

    /* 가운데 정렬 */
    width: 100vw;
    padding: 0;
    text-align: center;
}

.section-contact li {
    display: inline-block;
    padding: 3vw;
}

.section-contact .text {
    font-family: '맑은 고딕', Noto Sans KR, sans-serif;
    font-size: 25px;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

}

@media (min-width: 768px) {
    /* 768px 보다 큰 화면 */

}